
  .Container {
    text-align: center;
    background-color: #61dafb;
    height: 100%;
    width: 100%;
    margin-top: 0;
    background-size: 100%;
    background-repeat:no-repeat; 
    background-size: cover;
    overflow-x: hidden;
  }

.Dashboard{
    font-family: FontAwesome;
    background: #F8F8F9;
    border-radius: 16px;
    margin: 2% ;
    margin-top: 2%;;
    border-color: transparent;
    
  }

  h2#title{
    margin-top: 3%;
    margin-left: 3%;
    padding-left:0%; 
    padding-right: 0%;
    text-align: left;
}

span#student{
  color:#61dafb
}

#init{
  margin-top: 5%;
  border: transparent;
  border-radius: 16px;

}

#initName{
  margin-top: 10%;
  border: transparent;
  border-radius: 16px;

}

#add{
    background-color: #61dafb;
    color:white;
    font-weight: bold;
    border: transparent;
    border-radius: 20px;
    margin-top: 5%;

}


  #AddVideo{
    font-family: FontAwesome;
    border-radius: 16px;
    border-color: transparent;
    margin-top: 10%;
    

  }

  label{
      font-weight: bold;
      margin-left: 5%;

  }

  input{
    background:white;
    background-position: 3px;
    padding-left: 30px;
    border-radius: 8px; 
    border: transparent; 
    width: 40%;
    position: "absolute"

}

select{
    background:#E6E6EA;
    background-position: 3px;
    padding-left: 30px;
    border-radius: 8px; 
    border: transparent; 
    width: 100%;
    position: "absolute"

}

  #AddSave{
    background-color: #61dafb;
    color:white;
    font-weight: bold;

}

#AddClose{
    background-color:white;
    color:#61dafb;
    font-weight: bold;

}

#buttonvideo{
  background-color:white;
  color:#61dafb;
  font-weight: bold;
  width: 100%;

}

input[type="file"] {
    display: none;
  }
  
  .custom-video-upload {
    border: transparent;
    background:  #A5A8B3;
    color: white;
    border-radius: 8px;
    font-family: FontAwesome;
    font-size: medium;
    height: 40px;
    align-items: left;
    margin-top:5px;
    font-weight: lighter;
    text-align: center;
    
  }

  iframe{
      height: 100%;
      width: 100%;
  }

 
  