.VideoOnly{
    font-family: FontAwesome;
    background: #F8F8F9;
    border-radius: 16px;
    margin-top: 2%;;
    border-color: transparent;
    height: 500px;
        
    
  }

  #ButtonCardOnly{
    background-color: #61dafb;
    color:white;
    font-weight: bold;
    border: transparent;

}